<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunna</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">DUNNA</div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a href="#">Sobre</a>
            <a href="#">Portfólio</a>
            <a href="#">Depoimentos</a>
            <a href="#">Equipe</a>
            <a href="#">Contato</a>
        </div>
    </header>
    

    <div class="hero">
        <div class="overlay">
            <h1>DUNNA</h1>
        </div>
    </div>
    

    <div class="container-3">
        <div class="who-we-are">
            <h1>Quem somos?</h1>
            <p> Somos uma agência de comunicação visual especializada em design e criação de websites. Com mais de 100 projetos concluídos, oferecemos soluções criativas e eficazes para impulsionar a sua marca de maneira funcional e profissional.</p>
        </div>
    </div>

    <div class="container-4">
        <div class="card">
            <img src="../image/maria.png" alt="" class="">
            <p class="title">DESIGNER GRÁFICO E PUBLICITÁRIA</p>
        </div>
        <div class="divider"></div>
        <div class="card">
            <img src="../image/nilson.png" alt="" class="">
            <p class="title">CIENTISTA DA COMPUTAÇÃO E PROGRAMADOR</p>
        </div>
    </div>
    

    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="../imagecarrosel/image1.png" alt="Imagem 1">
            <img src="../imagecarrosel/image2.png" alt="Imagem 2">
            <img src="../imagecarrosel/image3.png" alt="Imagem 3">
            <img src="../imagecarrosel/image4.png" alt="Imagem 4">
            <img src="../imagecarrosel/image1.png" alt="Imagem 1">
            <img src="../imagecarrosel/image2.png" alt="Imagem 2">
            <img src="../imagecarrosel/image3.png" alt="Imagem 3">
            <img src="../imagecarrosel/image4.png" alt="Imagem 4">
            <img src="../imagecarrosel/image1.png" alt="Imagem 1">
            <img src="../imagecarrosel/image2.png" alt="Imagem 2">
            <img src="../imagecarrosel/image3.png" alt="Imagem 3">
            <img src="../imagecarrosel/image4.png" alt="Imagem 4">
            <img src="../imagecarrosel/image1.png" alt="Imagem 1">
            <img src="../imagecarrosel/image2.png" alt="Imagem 2">
            <img src="../imagecarrosel/image3.png" alt="Imagem 3">
            <img src="../imagecarrosel/image4.png" alt="Imagem 4">
            <!-- Adicione mais imagens conforme necessário -->
        </div>
    </div>

    <div class="container-5">
        <h1>O QUE PODEMOS FAZER POR VOCÊ?</h1>
        <div class="services">
            <ul class="services-left">
                <li>Identidade Visual</li>
                <li>Criação de Logo</li>
                <li>Design para redes sociais</li>
                <li>Design para cardápio</li>
                <li>Design para outdoor</li>
                <li>Design para cartão de visita</li>
                <li>Design para catálogo</li>
                <li>Design para revista</li>
                <li>Design para banner</li>
            </ul>
            <ul>
                <li>Social Media</li>
                <li>Criação de site</li>
                <li>Manutenção de site</li>
                <li>Captação de vídeo para reels</li>
                <li>Edição de vídeos</li>
                <li class="footer-note">Para outros tipos de serviços,<br> dúvidas e orçamentos, solicitamos<br> que entre em contato conosco.</li>
            </ul>
        </div>
    </div>

    <div class="contact-form-section">
        <form class="contact-form" action="#" method="post">

            <input type="text" id="nome" placeholder="Nome" name="nome" required>
    
            <input type="email" id="email" placeholder="Email" name="email" required>   
       
            <textarea id="mensagem" placeholder="Mensagem" name="mensagem" rows="5" required></textarea>
    
            <button type="submit">Enviar</button>
        </form>
    </div>
    

    
    
    <script src="../scripts/script.js"></script>



</body>
</html>
